.topic-list--item {
  line-height: 24px;
  margin-left: 24px;
  cursor: pointer;
  transition: 0.3s;
  color: #2b2b2b;
  &:hover {
    text-decoration: overline;
    color: #9c0000;
  }
}

.topic-list--item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;

}